<form action="/merchants" method="post">
  
  <fieldset>
      <legend>Add Merchant</legend>
  
      <label>Merchant:</label>
      <input id="merchantInput" type="text" name="name" placeholder="e.g. Apple">

      <input type="submit" value="Add Merchant">
    </fieldset>

</form>