<h1>Wealthy Pockets®</h1>

<a href="/transactions">Check your transactions</a>
<a href="/transactions/new">Add a new transaction</a>

<a href="/merchants">Check your merchants</a>
<a href="/merchants/new">Add a new merchant</a>

<a href="/categories">Check your categories</a>
<a href="/categories/new">Add a new category</a>

<a href="/income">Check your income</a>
<a href="/income/new">Add a new income</a>