<form action="/income" method="post">
  
  <fieldset>
      <legend>Add Income</legend>
  
      <label>Amount:</label>
      <input id="amountInput" type="text" name="amount" placeholder="e.g. 100">

      <label>Source:</label>
      <input id="sourceInput" type="text" name="type" placeholder="e.g. Type of investment">

      <label>Date:</label>
      <input id="dateInput" type="date" name="income_date" placeholder="e.g. Date of the purchase">

      <input type="submit" value="Add Income">
    </fieldset>

</form>