<form action="/categories" method="post">
  
  <fieldset>
      <legend>Add Category</legend>
  
      <label>Category:</label>
      <input id="categoryInput" type="text" name="name" placeholder="e.g. Entertainment">

      <input type="submit" value="Add Category">
    </fieldset>

</form>