<ul>
  <li>name: <%= @category.name %></li>
  <li>Total Expenses by <%= @category.name %>:
  <% category_balance = 0 %>
  <% @transactions.each do |transaction| %>
  <% if transaction.category_id == @category.id.to_i %>
  <% category_balance += transaction.amount %>
  <% end %>
  <% end %>
  <%= category_balance %></li>
</ul>

